{% extends 'base.html' %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-sm text-secondary">
            <thead class='text-dark'>
                <tr>
                    <th>Data</th>
                    <th>Evento</th>
                    <th>Aposta</th>
                    <th>Resultado</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for bet in bets %}
                <tr>
                    <td>{{ bet.data }}</td>
                    <td>
                        <a href="{% url 'visualizar' bet.id %}" class='text-decoration-none'>
                            <span class={% if bet.resultado == 'p' %}'fw-bold'{% endif %}>{{ bet.evento }} {% if bet.resultado == 'p' %}<span class="badge bg-secondary rounded-pill">pendente</span>{% endif %}</span>
                        </a>
                    </td>
                    <td>{{ bet.valor_aposta }}</td>
                    <td class=
                        {% if bet.lucro > 0 %}'text-success'
                        {% else %}'text-danger'
                        {% endif %}>
                        {{ bet.lucro }}
                    </td>
                    <td><a href="{% url 'editar' bet.id %}"  class='text-info'><span class="material-icons">edit</span></a></td>
                    <td><a href="{% url 'excluir' bet.id %}" class='text-danger'><span class="material-icons">delete_forever</span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class='page-item'><a href="?page={{ page_obj.previous_page_number }}" class='page-link'>&laquo;</a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endblock content %}